@font-face {
    font-family: RobotoFlex;
    src: url(./assets/font/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}
*{
    font-family: RobotoFlex;
}
body{
    margin: 30px 60px;
    background-color: rgb(18, 37, 58);
}
nav{
    border-radius: 50px;
    padding: 10px 30px;
    background: rgb(112, 198, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 50px;
}
nav img:hover{
    cursor: pointer;
}
nav ul{
    gap: 100px;
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav li{
    padding: 10px 20px;
    transition: 0.3s;
    color: white;
}
nav li:hover{
    cursor: pointer;
    transition: 0.3s;
    color: black;
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
}
nav div{
    color: white;
    padding: 10px 20px;
}
nav div:hover{
    cursor: pointer;
    transition: 0.3s;
    color: black;
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
}
main{
    margin-top: 3em;
    width: 100%;
    height: 45em;
    border-radius: 50px ;
    background: rgb(112, 198, 255);
}
