@font-face {
    font-family: RobotoFlex;
    src: url(./assets/font/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}
*{
    font-family: RobotoFlex;
}
body{
    margin: 30px 60px;
    background-color: #8a9c9e;
}
nav{
    border-radius: 50px;
    padding: 10px 30px;
    background: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 50px;
}
nav img:hover{
    cursor: pointer;
}
nav ul{
    gap: 100px;
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav li{
    padding: 10px 20px;
    transition: 0.3s;
    color: white;
}
nav li:hover{
    cursor: pointer;
    transition: 0.3s;
    color: black;
    background: #8a9c9e;
    padding: 10px 20px;
    border-radius: 20px;
}
nav div{
    color: white;
    padding: 10px 20px;
}
nav div:hover{
    cursor: pointer;
    transition: 0.3s;
    color: black;
    background: #8a9c9e;
    padding: 10px 20px;
    border-radius: 20px;
}
main{
    display: flex;
    align-items: center;
    margin-top: 3em;
    width: 100%;
    height: 45em;
    border-radius: 50px ;
    background: rgb(31, 31, 31);
}
.main__container{
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    align-items: center;
    width: calc(100% - 2%);
    height: calc(100% - 4%);
}
.main__container img{
    display: flex;
    border-radius: 50px;
    height: 100%;
}
.main__container__txt{
    color: white;
    display: flex;
    flex-direction: column;
    width: 65%;
}